
body {
    margin: 0px;
    padding: 0px;
   
}

        ul {
            list-style-type: none;
            color: white;
            background-color: black;
            cursor:pointer;
          
           

         }

        ul li {
            display: inline-block;
            padding: 10px;
            font-weight: bold;
            font-size: 18px;
         
            }

        ul li:hover {
            background-color: green;
            color: white;
        }

        .nav{
            text-decoration:none;
            color:white;
        }

      